<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
               <meta name="viewport" content="width=device-width", initial-scale="1">
        <link href="~/Content/madhan2.css" rel="stylesheet" />
       
    </head>

    <body>
  
        <div class="mdk">

            <div>
                <ul>
                    <li><a>MASTER BLASTER</a></li>
                    <li>@Html.ActionLink("HOME", "HOME", "madhan2")</li>
                    <li>@Html.ActionLink("ABOUT", "ABOUT", "madhan2")</li>
                    <li>@Html.ActionLink("ADDRESS", "ADDRESS", "madhan2")</li>
                    <li>@Html.ActionLink("ACHIVES", "ACHIVE", "madhan2")</li>
                </ul>
            </div>

            @RenderBody()
            <footer style="text-align:center">
                <p>&clubs;@DateTime.Now.Year - MadhanKumar</p>
            </footer>

        </div>   
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts",required:false)
     </body>
</html>
